@font-face
    font-family: 'Roboto-Bold'
    src: url(/fonts/Roboto-Bold.ttf)

.top_part
    background-color: #2d3136
    padding-top: 50px
    color: #ffffff
    padding-bottom: 50px
.logo
    padding-bottom: 50px
.logo_text
    color: #ffffff
.comment_block
    padding-left: 70px
input,button,textarea
    background-color: transparent !important
    &:focus
        border-color: #743538 !important
button[type="submit"]
    width: 60%
    border-radius: 3px
    border: none
    padding: 8px 10px
    background-color: #be393b !important
    font-family: 'Roboto-Bold'
.bottom_part
    h3
        font-family: 'Roboto-Bold'
    background-color: #f6f6f7
.card, .card-uneven
    .head
        background-color: #4b596c
        font-family: 'Roboto-Bold'
        text-align: center
        padding-top: 8px
        padding-bottom: 8px
    .body
        background-color: #e9eef3
        .email,.msg
            font-family: 'Roboto-Bold'
            text-align: center
.card-uneven
    .head
        background-color: #58ad52 !important