@font-face
    font-family: 'Roboto-Bold'
    src: url(/fonts/Roboto-Bold.ttf)
@font-face
    font-family: 'Sans_Narrow_Bold'
    src: url(/fonts/Sans_Narrow_Bold.ttf)

.content
    min-width: 480px !important
    max-width: 1280px !important


.main
    font-family: 'Sans_Narrow_Bold'
    text-transform: uppercase
    height: 620px
    background-image: url(../images/main_about_bg.jpg); /* Путь к фоновому изображению */
    h1
        margin-top: 50px
        margin-bottom: 50px
        font-size: 80px

.top_menu
    h1
        margin-top: 28px
        text-transform: uppercase
        font-size: 28px
    ul
        li
            display: inline
            font-size: 17px
            margin-right: 40px
            &:last-child
                margin-right: 0px
            a
                &:hover
                    text-decoration: none
                &:active
                    text-decoration: none
    .pic
        background-color: #fca
.phone
    h2
        margin-top: 50px
.lead_magnit
    iframe
        margin-top: 50px
        width: 560px
        height: 315px
        background-image: url('https://www.youtube.com/embed/bFqf15BNgHc') no-repeat;
    .form_z
        margin-top: 50px
        height: 315px
        border: 1px solid #000
        button
            width: 100%
            padding-left: 0px !important
            padding-right: 0px !important

        h2
            text-align: center
        form
            margin-top: 50px
        

.topmenu
    font-family: 'Sans_Narrow_Bold'
    font-size: 18px
    ul
        margin-top: 30px
        margin-bottom: 30px
        li
            display: inline
            font-size: 17px
            margin-right: 40px

            &:last-child
                margin-right: 0px

            a
                text-decoration: none
                color: #000

.buttons
    margin-top: 60px
    button
        width: 100%
        height: 60px
        background-color: transparent
        border: 1px solid #000
    .rassylka
        background-color: #000
        color: #fff
.videos
    margin-top: 50px
    iframe
        margin-bottom: 40px
        max-width: 100%
.benefits
    img
        width: 100%

body 
    margin: 0
    background: #000 

video
    position: fixed
    right: 0
    bottom: 0
    min-width: 100%
    min-height: 100%
    width: auto
    height: auto
    z-index: -100
    background: url('//demosthenes.info/assets/images/polina.jpg') no-repeat
    background-size: cover
    transition: 1s opacity

.stopfade
    opacity: .5;


#polina
    font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif
    font-weight: 100
    background: rgba(0,0,0,0.3)
    color: white
    padding: 2rem
    width: 33%
    margin: 2rem
    float: right
    font-size: 1.2rem


h1
    font-size: 3rem
    text-transform: uppercase
    margin-top: 0
    letter-spacing: .3rem

#polina button 
    display: block
    width: 80%
    padding: .4rem
    border: none
    margin: 1rem auto
    font-size: 1.3rem
    background: rgba(255,255,255,0.23)
    color: #fff
    border-radius: 3px
    cursor: pointer
    transition: .3s background


#polina
    button
        &:hover
            background: rgba(0,0,0,0.5)


a
    display: inline-block
    color: #fff
    text-decoration: none
    background:rgba(0,0,0,0.5)
    padding: .5rem
    transition: .6s background



a
    &:hover
        background: rgba(0,0,0,0.9)



