@font-face
    font-family: 'Roboto-Bold'
    src: url(/fonts/Roboto-Bold.ttf)
@font-face
    font-family: 'Sans_Narrow_Bold'
    src: url(/fonts/Sans_Narrow_Bold.ttf)

.content
    min-width: 480px !important
    max-width: 1280px !important

    iframe
        width: 100% !important
        height: 600px !important
form
    margin-top: 150px
    button
        width: 100%
        height: 100px
        font-size: 30px !important

    label
        font-size: 50px

.present
    margin-top: 100px
    h1
        text-align: center
        line-height: 1.5
.ps
    h2
        margin-top: 60px
        text-align: center

.main
    font-family: 'Sans_Narrow_Bold'
    text-transform: uppercase
    height: 620px
    background-image: url(../images/main_about_bg.jpg); /* Путь к фоновому изображению */
    h1
        margin-top: 50px
        margin-bottom: 50px
        font-size: 80px
.top_part
    h1
        text-align: center

.top_menu
    h1
        margin-top: 28px
        text-transform: uppercase
        font-size: 28px
    ul
        li
            display: inline
            font-size: 17px
            margin-right: 40px
            &:last-child
                margin-right: 0px
            a
                &:hover
                    text-decoration: none
                &:active
                    text-decoration: none
    .pic
        background-color: #fca
.phone
    h2
        margin-top: 50px
.lead_magnit
    iframe
        margin-top: 50px
        width: 560px
        height: 315px
        background-image: url('https://www.youtube.com/embed/bFqf15BNgHc') no-repeat;
    .form_z
        margin-top: 50px
        height: 315px
        border: 1px solid #000
        button
            width: 100%
            padding-left: 0px !important
            padding-right: 0px !important

        h2
            text-align: center
        form
            margin-top: 50px
        

.topmenu
    font-family: 'Sans_Narrow_Bold'
    font-size: 18px
    ul
        margin-top: 30px
        margin-bottom: 30px
        li
            display: inline
            font-size: 17px
            margin-right: 40px

            &:last-child
                margin-right: 0px

            a
                text-decoration: none
                color: #000

.buttons
    margin-top: 60px
    button
        width: 100%
        height: 60px
        background-color: transparent
        border: 1px solid #000
    .rassylka
        background-color: #000
        color: #fff
.videos
    margin-top: 50px
    iframe
        margin-bottom: 40px
        max-width: 100%
.benefits
    img
        width: 100%

