html
    head
        title
            |Подписная страница
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/bootstrap-theme.css")
        link(rel="stylesheet", href="css/bundle.css")
        script(src="js/jquery-3.1.1.js")
        script(src="js/bootstrap.js")

        
body
    .container.topmenu
        .row
            .col-lg-9.col-lg-offset-1
                ul
                    li
                        a(href="#")
                            |Обо мне
                    li
                        a(href="#")
                            |Like Holding
                    li
                        a(href="#")
                            |Полезное
                    li
                        a(href="#")
                            |Мероприятия
                    li
                        a(href="")
                            |Пресс-центр
                    li
                        a(href="")
                            |Хорошие люди
                    li
                        a(href="")
                            |Самое важное
        .row
            .col-lg-9.col-lg-offset-1.main
                .row
                    .col-lg-9.col-lg-offset-1
                        h1
                            |Василий Голубков
                .row.desc
                    .col-lg-9.col-lg-offset-1
                        |Путешествую, снимаю видео, пишу тексты. Делаю бизнес. Иногда получается.<br/><br/>
                        |Иногда, мне приходит умная мысль, и я ею делюсь. Если не приходит, не делюсь. Поэтому, если хочется получать умные мысли

                .row.buttons
                    .col-lg-4.col-lg-offset-2
                        button
                            |e-mail
                    .col-lg-4
                        button(class="rassylka")
                            |Подписаться на рассылку