html
    head
        title
            |Подписная страница
        link(rel="stylesheet", href="css/bootstrap.css")
        link(rel="stylesheet", href="css/bootstrap-theme.css")
        link(rel="stylesheet", href="css/bundle.css")
        script(src="js/jquery-3.1.1.js")
        script(src="js/bootstrap.js")

        
body
    .container.content
        .row.top_part
            .col-lg-12
                h1
                    |Как стать успешным на работе, в бизнесе и в личных отношениях за 90 дней!
        .row
            .col-lg-10.col-lg-offset-2
                h2
                    |Бесплатный видео курс «Секреты Успеха»<br/>
        .row
            .col-lg-12
                iframe(src="https://www.youtube.com/embed/bFqf15BNgHc", frameborder="0" allowfullscreen)
        .row
            form(role="form")
                .form-group
                    label(for="name")
                        |Имя
                    input(type="text" class="form-control" id="name" placeholder="Как мы можем к вам обращаться")
                .form-group
                    label(for="email")
                        |Телефон
                    input(type="email" class="form-control" id="email" placeholder="email: Куда отправить доступ к курсу")
                button(type="submit" class="btn btn-success")
                    |Да, я хочу быть успешным и богатым.
        .row
            .col-lg-12.present
                h1
                    |Подарок для вас «Чек лист»<br>
                    |Как определить свои критерии успеха?<br/>
                    |Мы отправим его вам на e-mail вместе<br/> ссылкой на видео курс.
        .row.ps
            .col-lg-12.col-lg-offset-0
                h2
                    |РS: Мне пришлось пережить много неудач, пока я не понял законы успеха.
        .row
            .col-lg-10.col-lg-offset-2
                h2
                    |«Ваш успех, наша цель!» Василий Голубков.